.product{
    margin : 0 50px;
}

Menu{
    background-color:blue;    
}
.submenu {
    background-color : rgb(22, 46, 153);
    font-weight: bold;

    color:white;
    width:200px;
    
    
}
.menu_item{
    background-color : rgb(22, 46, 153);
   
    width:200px;
    color:black;
    font-weight:bold;
    line-height: 35px;

}

/* .product-card button {
    width : 140px;
    height : 35px;
    border-radius : 1.2em;
    text-align : center;
    background-color :white ;
    color :rgb(22, 46, 153)

} */
.product-card img{
    width: 230px;
    height: 180px;
    /* border: 3px solid rgb(22, 46, 153); */
    align-items:center;
    border-radius: 2rem;
}
#page-numbers {
    list-style: none;
    display: flex;
  }
  
  #page-numbers > li {
    margin-right: 0.8em;
    color: blue;
    user-select: none;
    cursor: pointer;
    font-size: 2em;
  }
  .border li{
      margin-left:8px;
      margin-right:8px;
      padding-bottom: 5px;
      padding-top:5px;
      padding-left: 10px;
      padding-right:7px;
      color:black;
      border:1px solid blue;
  }
  
  .page-pad{
      padding-left:400px;
  }

  @media (max-width : 600px){
    .product{
        margin-left :10%;
    }
    .product-card img{
        width: 50%;
        height: 180px;
        align-items:center;
        border-radius: 2rem;
        /* margin:0 auto; */
        margin-left:0.00%;
    }
    #page-numbers {
        list-style: none;
        display: flex;
      }
      
      #page-numbers > li {
        /* margin-right: 0.8em; */
        color: blue;
        user-select: none;
        cursor: pointer;
        font-size: 2em;
      }
      .border li{
          margin-left:8px;
          margin-right:8px;
          padding-bottom: 5px;
          padding-top:5px;
          padding-left: 10px;
          padding-right:7px;
          color:black;
          border:1px solid blue;
      }
      
      .page-pad{
          padding-left:10%;
      }
      Menu{
        background-color:blue;  
        margin-bottom:4px; 
        margin:0 auto;
      
        
    }
    .submenu {
        background-color : rgb(22, 46, 153);
        font-weight: bold;
    
        color:white;
        width:200px;
        margin-bottom:7%; 
        
        
        
    }
    .menu_item{
        background-color : rgb(22, 46, 153);
       
        width:200px;
        color:black;
        font-weight:bold;
        line-height: 35px;
        
    
    }
  }