.pagoda-image{
    width:50%;
    height: 300px;
    margin-left:20%;
}
.pagoda-detail{
    margin-left:3%;
    font-weight: bold;
    color:black;
    font-size:1.2em;
}
.pagoda-name{
    font-size :1.4em;
    margin-left:25%;
    color:rgb(22, 46, 153);
    font-weight: bold;
    
}
.back-btn{
    width:75px;
    height: 35px;
    background-color:rgb(22, 46, 153);
    color:white;
    font-weight:bold;
    margin-right:40%;
    

}