.festival-card{
    margin-left: 2.5rem;
}

.backs{
    background-color:white;
    text-align:justify;
    font-weight:bold;
    font-size: 1.2em;
    margin-bottom: 3rem;
}


@media only screen and (max-width: 600px) {
    .body{
        background-color: #B4C7D6;    
    }
    }
